  
  @charset "UTF-8";
  @import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
  /*@mixin mixin-name {
    css-property: value;
  }*/
  .bouton {
    width: 100%;
    min-width: 250px;
    max-width: 280px;
    margin: 25px;
    padding: 15px 25px 15px 25px;
    text-align: center;
    font-size: 120%;
    cursor: pointer;
    color: white;
    border-radius: 200px;
    box-shadow: 5px 5px 5px #d9d9d9;
    border: none;
    background-image: linear-gradient(#FF79DA, #9356DC);
    z-index: 1;
    position: relative;
  }
  .bouton::after {
    border-radius: 200px;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
    box-shadow: 5px 5px 5px #a6a6a6;
    background-image: linear-gradient(#ff93e1, #a16be0);
    opacity: 0;
    z-index: -1;
    transition: opacity 250ms;
  }
  .bouton:hover::after {
    opacity: 1;
  }
  
  .heart {
    display: flex;
    justify-content: center;
    position: relative;
  }
  .heart .far {
    position: absolute;
    top: -10px;
    left: 0;
    padding: 5px;
    font-size: 250%;
  }
  .heart .fas {
    position: relative;
    top: -10px;
    left: 0;
    padding: 5px;
    font-size: 250%;
    background: linear-gradient(#9356DC, #FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation-fill-mode: forwards;
    cursor: pointer;
    opacity: 0;
    z-index: 1;
  }
  .heart:hover .far {
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 0.5s;
  }
  .heart:hover .fas {
    z-index: 1;
    overflow: hidden;
    animation: progressive 1s ease-in 50ms both;
    animation-fill-mode: forwards;
  }
  
  h1 {
    font-style: oblique;
    font-family: shrikhand;
  }
  
  a {
    text-decoration: none;
  }
  
  a, p, h4, h2 {
    font-family: roboto;
  }
  
  h2 {
    margin: 0;
    font-weight: bold;
    font-size: 200%;
  }
  
  h4 {
    font-weight: normal;
  }
  
  @keyframes main {
    from {
      transform: translateX(-9999px);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes icon-rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes ellipsis {
    from {
      max-width: 100%;
    }
    to {
      max-width: 240px;
    }
  }
  @keyframes translationy {
    from {
      transform: translatey(999px);
    }
    to {
      transform: translatey(0);
    }
  }
  @keyframes progressive {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes progressive-moin {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
    margin-top: 0px;
    z-index: 1;
    background-color: white;
  }
  .header__titre_site {
    display: flex;
    width: 90%;
    justify-content: center;
  }
  .header__retour-acceuil {
    border: none;
    background-color: white;
    font-size: x-large;
    cursor: pointer;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    color: white;
    padding: 20px;
  }
  footer .fas {
    padding-right: 10px;
  }
  footer .fa-utensils {
    padding-right: 15px;
  }
  footer a {
    color: white;
  }
  
  /*---------- loading-spinner ----------*/
  body .main {
    max-width: 99%;
    animation: progressive 3s 1ms;
  }
  
  /*---------- Presentation et futur zone de localisation ----------*/
  .decouverte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 3px solid #cccccc;
    overflow: hidden;
  }
  .decouverte__localisations {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px 0 20px 0;
    width: 100%;
    background-color: #e0e0e0;
  }
  .decouverte__localisations__search {
    margin-left: 4%;
    width: 180px;
    border: none;
    font-weight: bold;
    font-size: 120%;
    color: black;
    background-color: #e0e0e0;
  }
  .decouverte__restaurant {
    padding: 20px 0 20px 0;
    overflow: hidden;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .decouverte__restaurant__titre {
    margin: 0;
    font-weight: bold;
    font-size: 180%;
  }
  .decouverte__restaurant__texte {
    font-size: 120%;
  }
  
  /*---------- fonction(menu) du site ----------*/
  .fonctionnement {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    padding: 20px 0 20px 0;
  }
  @media screen and (max-width: 400px) {
    .fonctionnement {
      overflow: visible;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 3px;
    }
    .fonctionnement__list {
      padding: 10px;
    }
    .fonctionnement__element {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 200px;
      margin: 3px;
    }
    .fonctionnement__element__bouton {
      overflow: hidden;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: -10px;
    }
    .fonctionnement__element__bouton .fas {
      padding: 15px 5px 5px 5px;
    }
  }
  .fonctionnement__titre {
    padding-left: 25px;
    margin: 0;
    font-weight: bold;
    font-size: 180%;
    margin-right: 45%;
  }
  .fonctionnement__list {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
  @media screen and (min-width: 699px) {
    .fonctionnement__titre {
      margin-right: 85%;
      margin: 0;
      width: 100%;
    } 
    .fonctionnement__list {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
  .fonctionnement__element {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
    margin-left: -20px;
    font-size: 100%;
  }
  @media screen and (min-width: 699px) {
    .fonctionnement__element {
      justify-content: space-evenly;
      margin: 15px auto 15px auto;
    }
  }
  .fonctionnement__element__nombres {
    display: flex;
    justify-content: center;
    background: #9356DC;
    border-radius: 100%;
    color: white;
    padding: 4px 12px 4px 12px;
    font-size: 120%;
    z-index: 2;
  }
  .fonctionnement__element__bouton {
    z-index: 1;
    min-width: 360px;
    max-width: 699px;
    height: 100px;
    margin-left: -18px;
    margin-right: 20px;
    padding: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 5px 5px 5px #d9d9d9;
    border: none;
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 120%;
  }
  .fonctionnement__element__bouton .fas {
    color: grey;
    font-size: 120%;
  }
  .fonctionnement__element__bouton:hover {
    background-color: #e4d5f6;
    box-shadow: 5px 5px 5px #a6a6a6;
  }
  .fonctionnement__element__bouton:hover .fas {
    color: #9356DC;
  }
  
  /*---------- selection du restaurant ----------*/
  .choix {
    margin-top: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 90%;
  }
  @media screen and (min-width: 699px) {
    .choix__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  .choix__restaurant {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    margin: 20px 0 20px 0;
    max-width: 380px;
  }
  @media screen and  (max-width: 400px) {
    .choix__restaurant {
      overflow: hidden;
      max-height: 320px;
    }
  }
  .choix__restaurant__background {
    overflow: hidden;
    max-height: 250px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .choix__restaurant__background img {
    width: 100%;
    min-height: 300px;
    z-index: 1;
  }
  .new {
    overflow: hidden;
    position: absolute;
    height: 15px;
    width: 60px;
    z-index: 2;
    margin-left: 265px;
    margin-top: 25px;
    padding: 10px;
    background-color: #99E2D0;
    color: #1b6150;
    border-radius: 5%;
  }
  .choix__restaurant__designation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5%;
    color: black;
    font-size: 75%;
  }
  .choix__restaurant__designation--text p {
    font-size: 200%;
  }
  
  /*---------- image du restaurant ----------*/
  .background {
    display: flex;
  }
  .background img {
    margin-top: 1%;
    width: 100%;
  }
  
  /*---------- liste des plats du restaurant ----------*/
  .restaurant {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    background-color: #f2f2f2;
    margin-top: -15%;
  }
  .restaurant .titres_page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    width: 101%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    margin-left: -5.5%;
    padding: 5%;
  }
  .restaurant .type_plats {
    overflow: hidden;
  }
  .restaurant .type_plats__titre {
    font-weight: normal;
    text-transform: uppercase;
  }
  .restaurant .type_plats__titre span {
    padding-bottom: 5px;
    border-bottom: 3px solid #99E2D0;
  }
  .restaurant .type_plats__liste {
    animation: 4s ease-in-out progressive;
    animation-delay: 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .restaurant .type_plats__liste div:nth-child(1) {
    animation: 1s ease-in 1.5s both translationy;
    animation-delay: 350ms;
  }
  .restaurant .type_plats__liste div:nth-child(2) {
    animation: 1s ease-in 1.5s both translationy;
    animation-delay: 700ms;
  }
  .restaurant .type_plats__liste div:nth-child(3) {
    animation: 1s ease-in 1.5s both translationy;
    animation-delay: 1050ms;
  }
  .restaurant .type_plats__liste div:nth-child(4) {
    animation: 1s ease-in 1.5s both translationy;
    animation-delay: 1400ms;
  }
  @media screen and (min-width: 699px) {
    .restaurant .type_plats__liste {
      display: flex;
      flex-direction: column;
      width: 600px;
    }
  }
  .restaurant .type_plats .plats {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    min-width: 360px;
    max-width: 450px;
    max-height: 100px;
    background-color: white;
    margin: 20px 0 20px 0;
    border-radius: 20px;
  }
  @media screen and (max-width: 400px) {
    .restaurant .type_plats .plats {
      min-width: 230px;
      max-height: 150px;
    }
  }
  @media screen and (min-width: 699px) {
    .restaurant .type_plats .plats {
      min-width: 600px;
    }
  }  
  @media screen and (min-width: 1024px) {
    .restaurant .type_plats .plats {
      min-width: 800px;
    }
  }  
  .restaurant .type_plats .plats__animation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    border: 3px;
    padding-left: 15px;
  }
  .restaurant .type_plats .plats__titres {
    margin: 0;
    font-weight: bold;
    font-size: 120%;
  }
  .restaurant .type_plats .plats__texte {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurant .type_plats .plats__prix {
    padding: 0 5px 0 5px;
    font-weight: bold;
  }
  .restaurant .type_plats .plats__check {
    margin-right: -151px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 200px;
    background-color: #99E2D0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    transition: 1s ease-in-out;
  }
  .restaurant .type_plats .plats__check .fas {
    display: flex;
    justify-content: center;
    background: white;
    border-radius: 100%;
    color: #99E2D0;
    padding: 5px;
    font-size: 120%;
    z-index: 2;
  }
  .restaurant .type_plats .plats p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: 1s ease-in-out;
  }
  @media screen and (max-width: 400px) {
    .restaurant .type_plats .plats p {
      overflow: visible;
      white-space: normal;
      text-overflow: initial;
    }
  }
  .restaurant .type_plats .plats:hover {
    cursor: pointer;
  }
  .restaurant .type_plats .plats:hover .plats {
    width: auto;
  }
  .restaurant .type_plats .plats:hover .plats__check {
    margin: 0;
  }
  .restaurant .type_plats .plats:hover .plats__check i {
    animation: icon-rotation 1s linear 50ms forwards;
  }
  .restaurant .type_plats .plats:hover p {
    animation: ellipsis 400ms ease-out forwards;
  }
  
  .bouton_commander {
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
    padding-bottom: 50px;
  }
  
  .loader {
    position: fixed;
    display: flex;
    z-index: 1;
    background-color: #f2f2f2;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: bold;
    font-family: 'shrikhand';
    animation: loader cubic-bezier(0.39, 0.58, 0.57, 1) 3000ms forwards;
  }
  @media screen and (max-width: 699px) {
    .loader {
      font-size: 1.7rem;
    }
  }
  @media screen and (max-width: 799px) {
    .loader {
      font-size: 1.8rem;
    }
  }
  @media screen and (max-width: 1024px) {
    .loader {
      font-size: 2rem;
    }
  }
  
  @keyframes loader {
    0% {
        opacity: 1;
    }
    90% {
        opacity: 1;
        z-index: 1;
    }
    99% {
        opacity: 0;
    }   
     100% {
        opacity: 0;
        z-index: -1;
    }
  }
  
  .oh {
    color:#9356DC;
    animation: logo 2000ms 200ms backwards;
  }
  
  .my {
    color: #FF79DA;
    animation: logo 2000ms 600ms backwards;
  }
  
  .food {
    color: #99E2D0;;
    animation: logo 2000ms 1000ms backwards;
  }
  
  .point {
    background: linear-gradient(0.25turn, #FF79DA, #9356DC, #99E2D0);
    -webkit-background-clip: text;
    color: transparent;
    animation: logo 2000ms 1400ms backwards;
  }
  
  @keyframes logo {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  /* Aspect et positionnement du deuxième spinner */
  .loading_spinner {                      
    display: block;
    position: absolute;
    background-color: transparent;
    color: #99E2D0;
    width: 260px;
    height: 260px;
    z-index: 1;
    border: 5px solid #FF79DA;
    border-top: 9px solid;
    border-radius: 50%;                  
    border-top-color: #9356DC;
  }
  @media screen and (max-width: 699px) {
    .loading_spinner {
      width: 190px;
      height: 190px;
    }
  }
  @media screen and (max-width: 799px) {
    .loading_spinner {
      width: 200px;
      height: 200px;
    }
  }
  @media screen and (max-width: 1024px) {
    .loading_spinner {
      width: 220px;
      height: 220px;
    }
  }
  
    /* Paramètres de l'animation "spin" (infinite pour une rotation continue) */   
    .loading_spinner {       
    animation: spin 1.0s ease-in-out infinite; 
  }   
  
  /* Ne rien déclarer est possible mais cela permet de voir qqc en cas de problème */
  .loading_spinner::before, .loading_spinner::after {
    content: "...";                    
    position: absolute;
    border-radius: 50%;
    border: 5px solid transparent;
  }
  @keyframes loading-animation {
    /* Keyframe de l'animation loading-animation (disparition) */
    to {
      visibility: hidden;
      display: none;
    }
  }
  @keyframes spin {
    /* Keyframe de l'animation "spin" (rotation de l'élément du spinner) */
    from {
      transform: rotate(0deg);
      /* situation initiale */
    }
    to {
      transform: rotate(360deg);
      /* situation finale */
    }
  }
  /*# sourceMappingURL=style.css.map */