header{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    padding-left: 5%;
    margin-top: 0px;
    position: relative;
    z-index: 1;
    background-color: white;
    }
    &__titre_site{
        display:flex;
        width: 90%;
        justify-content: center;
    }
    &__retour-acceuil{
        border: none;
        background-color: white;
        font-size: x-large;
        cursor: pointer;
    }