$couleur-primaire:#9356DC;
$couleur-secondaire: #FF79DA;
$couleur-tertiaire: #99E2D0;
$texte-zoom:120%;
$texte-titre:200%;
$haut_bas: 20px 0 20px 0;
$droit_gauche: 0 20px 0 20px;
$box-shadow: 5px 5px 5px darken(white,15%);
$box-shadow-hover: 5px 5px 5px darken(white,35%);
$font-gris:darken(white,5%);
$breakpoints: (
    xs-mobile: 320px,
    min-mobile: 400px,
    lg-mobile: 599px,
    g-mobile: 699px,
    min-tab: 799px,
    desktop: 1024px
);
$main-delay: 15000ms; 